@model SMW.Admin.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutMvc.cshtml";
}




<div class="login-container">
  

    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <img width="240" src="/images/logo.png" />
                <h3>@ViewBag.Title</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <p>To reset your password, enter the email address you use to sign in to SMW. <a href="/Account/Login">Login into SMW</a></p>
                        <hr />

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-9">
                                @Html.ValidationSummary("", new { @class = "text-danger" })

                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeHolder = "Your email address" })
                            </div>
                        </div>
                        <div class="clear10"></div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Email Link" />

                                @Html.ActionLink("Back to Login", "Login")
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
